@use '@angular/material' as mat;

@include mat.core();

$theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$violet-palette,
  ),
));

:root {
  @include mat.form-field-overrides((
    container-text-size: 16px
  ));
}

html {
  @include mat.all-component-themes($theme);
}

body {
  color-scheme: dark;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}